body {background-color: coral;
}

.introduction { text-align: center;
height: 400px;
width: 500px;
background-color: white;
font-family: cursive, serif;
font-size: 16pt;
 }

 .webmapintro {
height: 400px;
width: 500px;
background-color: white;
font-family: cursive, serif;
font-size: 12pt;
}


